QuizWebsite/Service References/QuizService/QuizService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/QuizServices/QuizService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataModel" />
  <xs:complexType name="TupleOfQuizArrayOfQuestions751zUavm">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Quiz" Namespace="http://schemas.datacontract.org/2004/07/DataModel" />
          <GenericParameter Name="ArrayOfQuestions" Namespace="http://schemas.datacontract.org/2004/07/DataModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataModel" name="m_Item1" nillable="true" type="q1:Quiz" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataModel" name="m_Item2" nillable="true" type="q2:ArrayOfQuestions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfQuizArrayOfQuestions751zUavm" nillable="true" type="tns:TupleOfQuizArrayOfQuestions751zUavm" />
</xs:schema>