QuizWebsite/Service References/QuizService/QuizService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuizService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/QuizServices/QuizService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/QuizServices/QuizService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/QuizServices/QuizService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuizServices" />
      <xsd:import schemaLocation="http://localhost/QuizServices/QuizService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataModel" />
      <xsd:import schemaLocation="http://localhost/QuizServices/QuizService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuizService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_SaveQuiz_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveQuiz" />
  </wsdl:message>
  <wsdl:message name="IQuizService_SaveQuiz_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveQuizResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="IQuizService_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_LoadAllQuiz_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadAllQuiz" />
  </wsdl:message>
  <wsdl:message name="IQuizService_LoadAllQuiz_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadAllQuizResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_LoadQuizById_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadQuizById" />
  </wsdl:message>
  <wsdl:message name="IQuizService_LoadQuizById_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadQuizByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_LoadQuizQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadQuizQuestions" />
  </wsdl:message>
  <wsdl:message name="IQuizService_LoadQuizQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadQuizQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_AddQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:AddQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuizService_AddQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_SaveQuestionOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveQuestionOptions" />
  </wsdl:message>
  <wsdl:message name="IQuizService_SaveQuestionOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveQuestionOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_LoadQuestionOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadQuestionOptions" />
  </wsdl:message>
  <wsdl:message name="IQuizService_LoadQuestionOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadQuestionOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_DeleteQuizQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuizQuestions" />
  </wsdl:message>
  <wsdl:message name="IQuizService_DeleteQuizQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuizQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_DeleteQuestionOption_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuestionOption" />
  </wsdl:message>
  <wsdl:message name="IQuizService_DeleteQuestionOption_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuestionOptionResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_SaveQuizCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveQuizCategory" />
  </wsdl:message>
  <wsdl:message name="IQuizService_SaveQuizCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveQuizCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_LoadAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadAllCategories" />
  </wsdl:message>
  <wsdl:message name="IQuizService_LoadAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_SaveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUser" />
  </wsdl:message>
  <wsdl:message name="IQuizService_SaveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuizService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/GetData" message="tns:IQuizService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/GetDataResponse" message="tns:IQuizService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/GetDataUsingDataContract" message="tns:IQuizService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/GetDataUsingDataContractResponse" message="tns:IQuizService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveQuiz">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/SaveQuiz" message="tns:IQuizService_SaveQuiz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/SaveQuizResponse" message="tns:IQuizService_SaveQuiz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/CheckUser" message="tns:IQuizService_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/CheckUserResponse" message="tns:IQuizService_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAllQuiz">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/LoadAllQuiz" message="tns:IQuizService_LoadAllQuiz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/LoadAllQuizResponse" message="tns:IQuizService_LoadAllQuiz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadQuizById">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/LoadQuizById" message="tns:IQuizService_LoadQuizById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/LoadQuizByIdResponse" message="tns:IQuizService_LoadQuizById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadQuizQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/LoadQuizQuestions" message="tns:IQuizService_LoadQuizQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/LoadQuizQuestionsResponse" message="tns:IQuizService_LoadQuizQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/AddQuestion" message="tns:IQuizService_AddQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/AddQuestionResponse" message="tns:IQuizService_AddQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveQuestionOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/SaveQuestionOptions" message="tns:IQuizService_SaveQuestionOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/SaveQuestionOptionsResponse" message="tns:IQuizService_SaveQuestionOptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadQuestionOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/LoadQuestionOptions" message="tns:IQuizService_LoadQuestionOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/LoadQuestionOptionsResponse" message="tns:IQuizService_LoadQuestionOptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteQuizQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/DeleteQuizQuestions" message="tns:IQuizService_DeleteQuizQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/DeleteQuizQuestionsResponse" message="tns:IQuizService_DeleteQuizQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteQuestionOption">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/DeleteQuestionOption" message="tns:IQuizService_DeleteQuestionOption_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/DeleteQuestionOptionResponse" message="tns:IQuizService_DeleteQuestionOption_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveQuizCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/SaveQuizCategory" message="tns:IQuizService_SaveQuizCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/SaveQuizCategoryResponse" message="tns:IQuizService_SaveQuizCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/LoadAllCategories" message="tns:IQuizService_LoadAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/LoadAllCategoriesResponse" message="tns:IQuizService_LoadAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/SaveUser" message="tns:IQuizService_SaveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/SaveUserResponse" message="tns:IQuizService_SaveUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="QuizService" />
</wsdl:definitions>