QuizWebsite/Service References/QuizService/QuizService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/QuizServices/QuizService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuizServices" />
  <xs:import schemaLocation="http://localhost/QuizServices/QuizService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataModel" />
  <xs:import schemaLocation="http://localhost/QuizServices/QuizService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuizServices" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuizServices" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQuiz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="objQuiz" nillable="true" type="q3:Quiz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQuizResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="SaveQuizResult" nillable="true" type="q4:CustomResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllQuiz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllQuizResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="LoadAllQuizResult" nillable="true" type="q5:ArrayOfQuiz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadQuizById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuizId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadQuizByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="LoadQuizByIdResult" nillable="true" type="q6:Quiz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadQuizQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuizId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadQuizQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LoadQuizQuestionsResult" nillable="true" type="q7:TupleOfQuizArrayOfQuestions751zUavm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="Question" nillable="true" type="q8:Questions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="AddQuestionResult" nillable="true" type="q9:Questions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQuestionOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="Options" nillable="true" type="q10:ArrayOfQuestionOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQuestionOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="SaveQuestionOptionsResult" nillable="true" type="q11:CustomResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadQuestionOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuestionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadQuestionOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="LoadQuestionOptionsResult" nillable="true" type="q12:ArrayOfQuestionOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuizQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuizId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QuestionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuizQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="DeleteQuizQuestionsResult" nillable="true" type="q13:TupleOfQuizArrayOfQuestions751zUavm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuestionOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuestionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OptionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuestionOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="DeleteQuestionOptionResult" nillable="true" type="q14:ArrayOfQuestionOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQuizCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="Obj" nillable="true" type="q15:QuizCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQuizCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="SaveQuizCategoryResult" nillable="true" type="q16:ArrayOfQuizCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="LoadAllCategoriesResult" nillable="true" type="q17:ArrayOfQuizCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="objUser" nillable="true" type="q18:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="SaveUserResult" nillable="true" type="q19:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>