QuizWebsite/Service References/QuizService/QuizService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Quiz">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonProperties">
        <xs:sequence>
          <xs:element minOccurs="0" name="AllowReAttempt" type="xs:boolean" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Hours" type="xs:int" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Minutes" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PassMarks" type="xs:int" />
          <xs:element minOccurs="0" name="QuizNotes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuizUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReAttemptDuration" type="xs:int" />
          <xs:element minOccurs="0" name="RequiresLogin" type="xs:boolean" />
          <xs:element minOccurs="0" name="Time" type="xs:boolean" />
          <xs:element minOccurs="0" name="Type" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Quiz" nillable="true" type="tns:Quiz" />
  <xs:complexType name="CommonProperties">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonProperties" nillable="true" type="tns:CommonProperties" />
  <xs:complexType name="CustomResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomResponse" nillable="true" type="tns:CustomResponse" />
  <xs:complexType name="ArrayOfQuiz">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Quiz" nillable="true" type="tns:Quiz" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuiz" nillable="true" type="tns:ArrayOfQuiz" />
  <xs:complexType name="ArrayOfQuestions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Questions" nillable="true" type="tns:Questions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestions" nillable="true" type="tns:ArrayOfQuestions" />
  <xs:complexType name="Questions">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonProperties">
        <xs:sequence>
          <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
          <xs:element minOccurs="0" name="QuestionText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuizId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Questions" nillable="true" type="tns:Questions" />
  <xs:complexType name="ArrayOfQuestionOptions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionOptions" nillable="true" type="tns:QuestionOptions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionOptions" nillable="true" type="tns:ArrayOfQuestionOptions" />
  <xs:complexType name="QuestionOptions">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonProperties">
        <xs:sequence>
          <xs:element minOccurs="0" name="CorrectOption" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="OptionOrder" type="xs:int" />
          <xs:element minOccurs="0" name="OptionText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuestionOptions" nillable="true" type="tns:QuestionOptions" />
  <xs:complexType name="QuizCategories">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuizCategories" nillable="true" type="tns:QuizCategories" />
  <xs:complexType name="ArrayOfQuizCategories">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuizCategories" nillable="true" type="tns:QuizCategories" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuizCategories" nillable="true" type="tns:ArrayOfQuizCategories" />
  <xs:complexType name="Users">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonProperties">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Role" type="xs:int" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
</xs:schema>